@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
.row.large {
  min-height: 100vh; }
  .row.large > main {
    flex: 1;
    max-width: inherit; }

.flex {
  display: flex; }

.main-content {
  display: flex;
  background-color: white; }
  .main-content.match {
    background-color: #efefef; }
  .main-content nav .nav-item a {
    color: white; }
  .main-content main[role="main-list"] h1 {
    text-align: left;
    margin: 22px 0;
    border-bottom: 1px solid gainsboro;
    padding: 0 10px 12px;
    font-size: 1em; }
  .main-content .table-responsive td {
    border-top: 0px solid #e9ecef; }
  .main-content .table-responsive .list-match {
    width: 67%;
    margin: 0 auto; }
    .main-content .table-responsive .list-match tr {
      margin: 4px;
      background-color: #efefef; }
      .main-content .table-responsive .list-match tr[class^="win_"] {
        background-color: white; }
      .main-content .table-responsive .list-match tr.win_team_1 .score.team_1 {
        font-weight: bold;
        font-size: 1.5em; }
      .main-content .table-responsive .list-match tr.win_team_2 .score.team_2 {
        font-weight: bold;
        font-size: 1.5em; }
      .main-content .table-responsive .list-match tr .data {
        flex: 1;
        text-align: right; }
    .main-content .table-responsive .list-match img {
      width: 60px; }
    .main-content .table-responsive .list-match .team1-name {
      width: 335px;
      text-align: right; }
    .main-content .table-responsive .list-match .team2-name {
      text-align: left; }
    .main-content .table-responsive .list-match .score {
      width: 60px;
      text-align: center; }
    .main-content .table-responsive .list-match .stats {
      flex: 1;
      text-align: right; }
    .main-content .table-responsive .list-match .separator {
      margin-top: 30px;
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: bold; }
    .main-content .table-responsive .list-match .date {
      font-size: 0.8em; }
  .main-content .table-responsive td.picture {
    padding: 0; }
    .main-content .table-responsive td.picture:first-of-type {
      background-color: white; }
    .main-content .table-responsive td.picture img {
      height: 60px;
      width: 60px; }
    .main-content .table-responsive td.picture.flag img {
      width: 40px;
      height: 20px; }
  .main-content .table-responsive tr {
    display: flex;
    align-items: center;
    cursor: pinter; }
    .main-content .table-responsive tr.active {
      background-color: #27282e;
      color: white; }
      .main-content .table-responsive tr.active a {
        color: white; }
    .main-content .table-responsive tr td.name {
      width: 190px; }
    .main-content .table-responsive tr td.team {
      flex: 1; }
    .main-content .table-responsive tr td.country {
      flex: 1;
      text-align: right; }
  .main-content .table-responsive.stats_match {
    background-color: #efefef; }
    .main-content .table-responsive.stats_match table.list-match tr {
      background-color: white; }
    .main-content .table-responsive.stats_match div.flex {
      background-color: #ffffff;
      padding: 50px;
      width: 66.4%;
      margin: 30px auto;
      min-width: 800px;
      align-items: center;
      justify-content: space-around;
      font-size: 2em; }
      .main-content .table-responsive.stats_match div.flex .logo_team {
        width: 40%; }
        .main-content .table-responsive.stats_match div.flex .logo_team img {
          display: block;
          margin: 0 auto;
          width: 50%; }
      .main-content .table-responsive.stats_match div.flex.win_team_1 .team1 {
        font-weight: bold;
        font-size: 1.5em; }
      .main-content .table-responsive.stats_match div.flex.win_team_2 .team2 {
        font-weight: bold;
        font-size: 1.5em; }
    .main-content .table-responsive.stats_match .playground {
      width: 67%;
      margin: 0 auto; }
      .main-content .table-responsive.stats_match .playground img {
        width: 70%;
        display: block;
        margin: 20px auto; }

.infos-list {
  border-left: 1px solid #ededed;
  box-shadow: 2px 0px 8px #e9e9e9 inset;
  flex: 1;
  padding: 15px; }
  .infos-list div.picture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2; }
    .infos-list div.picture > img {
      width: 30%; }
      .infos-list div.picture > img.smaller {
        width: 24%; }
      .infos-list div.picture > img.profile {
        padding: 0 2%;
        box-sizing: content-box;
        margin-top: auto; }
  .infos-list h3 {
    text-align: center;
    margin: 24px 0;
    font-weight: 600; }
  .infos-list .team-list {
    display: flex;
    flex-wrap: wrap; }
    .infos-list .team-list > div {
      width: calc((100% - (8*10px)) / 4);
      background-color: #f5f5f5;
      text-align: center;
      margin: 10px; }
      .infos-list .team-list > div .player_picture img {
        width: 100%; }
      .infos-list .team-list > div h4 {
        font-size: 1em;
        margin: 15px 0 7px; }
  .infos-list .datas_team div + div {
    margin-left: 5%; }

/*# sourceMappingURL=app.css.map */
